
body {
  background-color: Burlywood;
  }
  h1 {
   text-align: center;
   font-family: Times; 
  }
  p {
   text-align: center;
   font-family: Times;
   font-size: 20px;
  }
  img{ 
   margin: auto;
   display: block;
   padding: 0px;
   border: 5px solid Black;
  
   
  }